
<div class="center">

    <h1 class="title">Iniciar sesión </h1>
    <form [formGroup]="loginform" (ngSubmit)="iniciar()">
        <div class="txt_field">
            <input type="text" formControlName="usuario" placeholder="Ingrese su usuario">
            <span></span>
            <label> Usuario</label>
        </div>

        <div class="txt_field">
            <input type="password" type="password" formControlName="password" placeholder="Ingrese su contraseña">
            <span></span>
            <label> Contraseña</label>

        </div>
        <input class="ingresar" type="submit" value="Acceder">
        <div class="signup_link">
            ¿No eres residente?
            <a [routerLink]="['/auth/registrar']"> Registrate </a>
        </div>
    </form>
</div>